@import './variables.css';
@import './typography.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    background-color: var(--color-space-black);
    color: var(--color-pure-white);
    font-family: var(--font-serif-hero);
    overflow-x: hidden;
  }
}
